{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{% block title %}
<title>Cadastro ponto de coleta</title>
{% endblock title %}




{% block styles %}
<link rel="stylesheet" href="/styles/create-point.css">
<link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}



{% block content %}
<header>
    <a  class="cozinheiro" href="#">
        <span class="principal">Recify </span>  
        
    </a>
    <a href="/">
        <span class="voltar"> </span>
        <!--tag span é inline(fica do lado do elemento)-->
        Voltar para home</a>

</header>

<form action="/savepoint" method="POST">
    <h1>Adicione suas receitas</h1>

    <fieldset>
        <legend>
            <h2>Receita</h2>
        </legend>

        <div class="field-group">
            <div class="field">
                <label for="city">Nome da comida</label>
                <input type="text" name="city" required>

                
                

            </div>
            <div class="field">
                <label for="name">Imagem da comida</label>
                <input type="url" name="image" placeholder="http://" required>
            </div>


        </div>

        <div class="field-group">
        
            <div class="field">
                <label for="name">Tempo de preparo</label>
                <input type="number" name="name" required placeholder="Em minutos">
            </div>
           
        
        
            <div class="field">
                <label for="state">Rendimento</label>
                <input type="number" name="state" required placeholder="Para quantas pessoas?">
            </div>
           
        </div>
    

        <div class="field-group">
            <div class="field">
                <label for=address">Ingredientes</label>
                <textarea type="text" name="address" required placeholder="Quais são os ingredientes?" ></textarea>

                

            </div>
            </div>
            <div class="field">
                <label for=address2">Modo de preparo</label>
                <textarea type="text" name="address2" required placeholder="Descreva o modo de preparo" ></textarea>

                

            </div>
            
        
    </fieldset>

    <fieldset>
        <legend>
            <h2>Selecione a dificuldade de preparo</h2>
            <span>Selecione um item abaixo</span>
        </legend>

        <div class="items-grid">
            <li data-id="Dificuldade: Fácil"">
                <img src=" /icones/iniciante.png" alt="Lampadas">
                <span> Fácil</span>
            </li>
            <li data-id="Dificuldade: Médio">
                <img src="/icones/master.png" alt="Pilhas e Baterias">
                <span>Médio</span>
            </li>
            <li data-id="Dificuldade: Difícil">
                <img src="/icones/vovs.png" alt="Papéis e Papelão">
                <span>Difícil</span>
            </li>
            
        </div>

        <input type="hidden" name="items">

    </fieldset>

    <button type="submit">Adicionar receita</button>

</form>

{% endblock content %}

{%block modal%}
{% if saved %}
    {% include "partials/point-created.html" %}
{%endif%}

{%if erro %}
{% include "partials/erro.html" %}
{%endif%}

{%endblock modal%}


{% block scripts %}
<script src="./scripts/create-point.js  "></script>
{% endblock scripts %}