{% extends "layout.html" %}


{% set pageId = "page-search-results" %}

{% block title %}
<title>Resultado da pesquisa</title>

{% endblock title %}


{% block styles %}
<link rel="stylesheet" href="/styles/detalhes.css">


{% endblock styles %}


{% block content %}
<header>
    <a  class="cozinheiro" href="#">
        <span class="principal">Recify </span>  
        
    </a>
    <a href="/">
        <span class="voltarh"> </span>
        <!--tag span é inline(fica do lado do elemento)-->
        Voltar para home</a>

</header>

<main>

    {% if total > 0 %}
    <h4>
        <strong>Sua receita </strong> 
    </h4>


    <div class="cards">

       {% for place in places %}
            
            <div class="card">
                <a href='/detalhes'>
                <img src="{{ place.image }}" alt="{{ place.name }}">
                </a>
                <h1>{{ place.city }}</h1>
                <h3>{{ place.items }}</h3>
                <h3>Rendimento: Serve {{ place.state}} pessoas</h3>
                <p>
                    <h3>Tempo de preparo: {{ place.name }} minutos</h3> <br/>
                    <h3 class="ing">Ingredientes:</h3>
                    <div class="ing2">{{ place.address }} </div>
                    <h3 class="prep">Modo de Preparo:</h3> 
                    <div class="prep2">{{ place.address2 }}</div>
                    

                    
                </p>

            </div>
       {% endfor %}

       
    </div>

    {%else%}
    <h4><strong>Nenhuma </strong> receita encontrada</h4>

    {% endif %}

   

</main>

{% endblock content %}