#page-create-point{
    width: 90%;
    max-width: 1100px;

    margin: 0 auto;

}

#page-create-point header{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a{
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;

}

#page-create-point .voltar{
    margin-right: 16px ;
    background-image: url('../icones/arrow-left.svg');
    width: 20px;
    height: 24px;
    display: flex;
}


#page-create-point .cozinheiro{
    background: url(../icones/icone_cozin.png) no-repeat;
    margin-top: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#page-create-point .principal {
    margin-right: 7px ;
    margin-top: 45px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100px;
    height: 100px ;
    display: flex;

}

#tempo{
    
   
}


form{
    background-color: white;
    padding: 14px;
    border-radius: 8px;
    background-origin: padding-box;
    max-width: 1200px;
    margin: 30px auto;
}

form h1{
    font-size: 36px;

}

form fieldset{
    margin-top: 64px;

    border: 0;
}

form legend{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

form legend h2{
    font-size: 24px;
}

form legend span{
    font-size: 14px;
    color: var(--title-color);
}

form .field {
    flex: 1; /* preenche todo o espaço flex(espaço em branco)*/    
    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}

form .field-group{
    display: flex;
    
}

form input, form select{
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    
    border-radius: 8px;

}

form textarea{
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    
    border-radius: 8px;

}

form select{
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
}

form label{
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field{  /* pegar o field que tem um field ao lado(está pegando o segundo fielf, ou seja, o de número e complemento */
    margin-left: 24px;
}

form button{
    width: 260px;
    height: 56px;

    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;

    border: 0;
    margin-top: 40px;
    transition: background-color 400ms;
}

form button:hover{
    background-color:  #b38c0d;

}

.items-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     gap: 16px;  /*espaçamento entre os items*/
}

.items-grid li{
    background-color: #f5f5f5;
    list-style: none;   /* tira os bullets(padrão do li)*/

    border: 2px solid #f5f5f5;
    border-radius: 8px;

    height: 180px;

    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    cursor: pointer;
}

.items-grid li span{
    margin-top: 12px ;
    flex: 1;

    display: flex;
    align-items: center;

    color: var(--title-color);
}

.items-grid li.selected{
    background: #dfd28c;
    border: 2px solid  #d4af32;
}

.items-grid li img, .items-grid li span{
    pointer-events: none;
}